{% extends "layout.html" %}

{% block main %}

    <form action="/sell" method="post">
        <div class="form-group">
            <select name = "fourLetters" class="selectpicker">
                <option disabled>Company</option>
                {% for symbol in symbols %}
              <option>{{ symbol.symbol }}</option>
                  {% endfor %}
            </select> </p>
            <input class="form-control" name="NOshares" placeholder="Number Of Shares" type="text"></input>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>


{% endblock %}